mixin checkbox(attr)
  .checkbox
    input(
      type="checkbox"
      id=attr.id
      name=attr.name
      class=(attr.mod==='toggle' ? 'checkbox__box_shape_oval' : 'checkbox__box')
      checked=attr.checked
    )
    label(
      for=attr.id
      class=(attr.mod==='toggle' ? 'checkbox__label_type_toggler' : 'checkbox__label')
    ) #{attr.text}