mixin checkbox(attr)
  if attr.mod === 'rich'
    div(class="checkbox checkbox_rich")
      input(
        type='checkbox'
        id=attr.id
        name=attr.name
        class='checkbox__box'
        checked=attr.checked
      )
      .checkbox__label-container
        label(
          for=attr.id
          class='checkbox__label_rich'
        ) #{attr.text}
        p.label__addition #{attr.addition}
  else
    div(class="checkbox")
      input(
        type='checkbox'
        id=attr.id
        name=attr.name
        class=(attr.mod==='toggle' ? 'checkbox__box_shape_oval' : 'checkbox__box')
        checked=attr.checked
      )
      label(
        for=attr.id
        class=(attr.mod==='toggle' ? 'checkbox__label_type_toggler' : 'checkbox__label')
      ) #{attr.text}