include ../rate-button/rate-button

mixin room-card(attr)
  .room-card
    .room-card__image
      img(src=`./assets/img/${attr.roomNumber}.jpg`, alt=`фото номера ${attr.roomNumber}`)
      .room-card__slider_prev
        button(type="button" class="room-card__button_prev material-icons") expand_more
      .room-card__slider_next
        button(type="button" class="room-card__button_next material-icons") expand_more
      .room-card__pages
        div(class='room-card__page room-card__page_selected')
        .room-card__page 
        .room-card__page 
        .room-card__page 
    .room-card__info-wrap
      .room-card__info
        .room-card__number-and-price
          .room-card__number
            span(class='room-card__prefix') № 
            span(class='room-card__number') #{attr.roomNumber}
            if attr.luxe  
              span(class='room-card__luxe') люкс
          .room-card__price
            span(class='room-card__price-number') #{attr.roomPrice}₽ 
            span(class='room-card__price-currency') в сутки
        .room-card__rating-and-reviews
          .room-card__rating
            +rate-button({id: attr.rateId})
          .room-card__reviews
            span(class='room-card__reviews-number') #{attr.reviewsNumber}
            span(class='room-card__reviews')  Отзывов